<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DAL.Models.Properties.Settings.LearnByPracticeConnectionString"
    connectionString="Data Source=LENCE-PC\SQLEXPRESS;Database=LearnByPractice;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>