<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LearnByPracticeConnectionString"
        connectionString="Data Source=LENCE-PC\SQLEXPRESS;Initial Catalog=LearnByPractice;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>