If not Exists (select loginname from master.dbo.syslogins 
    where name = 'NT AUTHORITY\NETWORK SERVICE')
Begin
CREATE LOGIN [NT AUTHORITY\NETWORK SERVICE] FROM WINDOWS;
End

IF USER_ID('NT AUTHORITY\NETWORK SERVICE') IS NULL
BEGIN

CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE]
END
GO

EXEC sp_addrolemember 'db_datareader', 'NT AUTHORITY\NETWORK SERVICE' 
GO

EXEC sp_addrolemember 'db_datawriter', 'NT AUTHORITY\NETWORK SERVICE' 
GO

