<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ vm.novZapis ? "Внесување на нов вид организација" : "Менување на податоци за вид на организација" }}</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <form name="vidOrganizacijaForm">
                            <div class="form-group">
                                <label for="ime">Име</label>
                                <input ng-model="vm.vidOrganizacija.ime" id="ime" maxlength="255" required class="form-control" />
                            </div>
                            <button class="btn btn-success" ng-click="vm.zapishi()" ng-disabled="vidOrganizacijaForm.$invalid">Запиши</button><button class="btn btn-danger pull-right" ng-click="vm.otkazhiSe()">Откажи се</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
