body {
    font-family:Arial,Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
    background-color:#f2f2f2;
}
#lbp-container{
    padding-top:10px;
    width:100%; 
}
#header{
    width:100%;
    height: 30px; 
    color:#cccccc;
    border-bottom:1px solid lightgray;
    font-size:15px;
}
#fikt{
    width:60%;
    float:left;
    text-align:left;
    padding-left:20px;
    font-style:italic;
}
#clen{
    width:18%;
    float:left;
    text-align:right;  
}
#login{
   float:left;
   width:20%;
   text-align:center;
   color:black;
}
#meni{
    width: 100%;
    height:50px;
    border-bottom:1px solid lightgray;
}
#logoImg{
    padding-top:15px;
    width: 29%;
    float: left;
    text-align:center;
}
h3{
    display: inline;
    color:gray;
    font-style:italic;
}
.lbp {
    color: #00e6ac;
}
#lista{
    width:70%;
    float: left;
}
ul li{
    width:18%;
    display: inline-block;
    text-align:center;
    float:left;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}
#zaedno{
    width:93%;
    height:auto;
    clear:left;
    padding-top:-20px;
    padding-bottom:-20px;
    margin:auto;
}
#slider{
    padding-top:5px;
    width:18%;
    float:left;
    margin:auto;
}
#lbp-main-area {
    width: 82%;
    float: left;
    padding-top:20px;
}
#footer{
    border-top: 1px solid #00e6ac;
    padding:10px;
    text-align:center;
    width:98%;
    clear:left;
    background-color:#f2f2f2;
    font-style:italic;
    font-size:12px;
}
a:link, a:visited {
    text-decoration: none;
    color:#262626;
}
.slika{
    border: 1px solid #00e6ac;
    border-radius: 50%;
}








