body {
    font-family:Arial,Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
    background-color:#f2f2f2;
}
#lbp-container{
    padding-top:10px;
    width:100%; 
}
#header{
    width:100%;
    height: 30px; 
    color:#cccccc;
    border-bottom:1px solid lightgray;
    font-size:15px;
}
#fikt{
    width:60%;
    float:left;
    text-align:left;
    padding-left:20px;
    font-style:italic;
}
#clen{
    width:18%;
    float:left;
    text-align:right;  
}
#login{
   float:left;
   width:20%;
   text-align:center;
   color:black;
}
#meni{
    width: 100%;
    height:50px;
    border-bottom:1px solid lightgray;
}
#logoImg{
    padding-top:15px;
    width: 29%;
    float: left;
    text-align:center;
}
h3{
    display: inline;
    color:gray;
    font-style:italic;
}
.lbp {
    color: #00e6ac;
}
#lista{
    width:70%;
    float: left;
}
ul li{
    width:18%;
    display: inline-block;
    text-align:center;
    float:left;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}
#zaedno{
    width:93%;
    height:900px;
    clear:left;
    padding-top:-20px;
    padding-bottom:-20px;
    margin:auto;
}

#slider{
    width:20%;
    height:900px;
    float:left;
    margin:auto;
}

#lbp-main-area {
    width: 80%;
    height:900px;
    background-color: #ffffff;
    float: left;

}
#footer{
    border-top: 1px solid #00e6ac;
    padding:10px;
    text-align:center;
    width:98%;
    clear:left;
    background-color:#f2f2f2;
    font-style:italic;
    font-size:12px;
}
a:link, a:visited {
    text-decoration: none;
    color:#262626;
}
#Nbds{
    animation-name: anbds;
    animation-duration:30s;
    overflow: visible;
    position:relative;
    animation-iteration-count:infinite;
}
@keyframes anbds{
   0%   { top:0px;}
    20%  {top:173px;}
    40%  {top:346px;}
    60%  {top:519px;}
    80% {top:692px;}
     100%{top:0px;}
}
#Seavus{
    animation-name: aseavus;
    animation-duration:30s;
    overflow: visible;
    position:relative;
    animation-iteration-count:infinite;
}
@keyframes aseavus{ 
    0%   { top:0px;}
    20%  {top:173px;}
    40%  {top:346px;}
    60%  {top:519px;}
  80%{top:-173px;}
    100%{top:0px;} 
     
}
#x3mLabs{
    animation-name: ax3m;
    animation-duration:30s;
    overflow: visible;
    position:relative;
    animation-iteration-count:infinite;

}
@keyframes ax3m{

    0%{ top:0px;}
    20% {top:173px;}
    40%{top:346px;}
    60%{top:-346px}
    80%{top:-173px;}
     100%{top:0px;} 
         
   }
#iSource{
    animation-name: aiSource;
    animation-duration:30s;
    overflow: visible;
    position:relative;
    animation-iteration-count:infinite;
}
@keyframes aiSource{
   
   0%   { top:0px;}
   20%  {top:173px;}
    40%{top:-519px}
    60%{top:-346px}
    80%{top:-173px;} 
     100%{top:0px;}
   }


#Cosmicdev{
    animation-name: acd;
    animation-duration:30s;
    overflow: visible;
    position:relative;
    animation-iteration-count:infinite;

}
@keyframes acd{
   0%{ top:0px;}
   20%{top:-692px}
   40%{top:-519px}
   60%{top:-346px}
    80%{top:-173px;}
    100%{top:0px;}
   }








