<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Models.Properties.Settings.LearnByPracticeConnectionString"
            connectionString="Data Source=KIKA-PC\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LearnByPractice.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Models.Properties.Settings.LearnByPracticeConnectionString1"
            connectionString="Data Source=KIKA-PC\SQLEXPRESS;Initial Catalog=LearnByPractice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>