<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LearnByPractice.DAL.Models.Properties.Settings.LearnByPracticeConnectionString"
      connectionString="Data Source=SIMONA;Initial Catalog=LearnByPractice;Integrated Security=True"
      xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>