<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Области</h2>
            </div>
            <div class="panel-body">
                <a ui-sref="admin.oblasti.vnesuvanje({id: 0})"><i class="fa fa-plus"></i>&nbsp;Додај нова област</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                ИД
                            </th>
                            <th>
                                Име
                            </th>
                            <th>
                                Акција
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oblast in vm.siteOblasti track by oblast.id">
                            <td>
                                {{oblast.id}}
                            </td>
                            <td>
                                <a ui-sref="admin.oblasti.vnesuvanje({id: oblast.id})" title="Измени податоци">{{oblast.ime}}</a>
                            </td>
                            <td class="text-center">
                                <a title="Избриши" href="javascript:;" ng-click="vm.izbrishi(oblast)"><i class="fa fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
