<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Технологии</h2>
            </div>
            <div class="panel-body">
                <a ui-sref="admin.tehnologii.vnesuvanje({id: 0})"><i class="fa fa-plus"></i>&nbsp;Додај нова технологија</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                ИД
                            </th>
                            <th>
                                Име
                            </th>
                            <th>
                                Област
                            </th>
                            <th>
                                Акција
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tehnologija in vm.siteTehnologii track by tehnologija.id">
                            <td>
                                {{tehnologija.id}}
                            </td>
                            <td>
                                <a ui-sref="admin.tehnologii.vnesuvanje({id: tehnologija.id})" title="Измени податоци">{{tehnologija.ime}}</a>
                            </td>
                            <td>
                                {{tehnologija.oblast.ime}}
                            </td>
                            <td class="text-center">
                                <a title="Избриши" href="javascript:;" ng-click="vm.izbrishi(tehnologija)"><i class="fa fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
